@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  transition: 0.25s;
  user-select: none;
  -webkit-user-drag: none;
}
.slider {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: none;
}
.slider .slider-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.slider .slider-inner.top {
  top: 100%;
}
.slider .slider-inner.bottom {
  top: -100%;
}
.slider .slider-inner.left {
  top: 0;
  left: -100%;
}
.slider .slider-inner.right {
  top: 0;
  left: 100%;
}
.slider .slider-inner .tab {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slider .slider-inner .tab.mid {
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.slider .slider-inner .tab.mid .header {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: column;
  align-items: center;
}
.slider .slider-inner .tab.mid .header .icon {
  width: 50px;
}
.slider .slider-inner .tab.mid .header h1 {
  margin-top: 10px;
  font-weight: normal;
}
.slider .slider-inner .tab.mid .header h1 span {
  color: #00d0cd;
  font-weight: bold;
}
.slider .slider-inner .tab.mid .header .divider {
  width: 300px;
}
.slider .slider-inner .tab.mid .license {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 500px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.slider .slider-inner .tab.mid .license .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.slider .slider-inner .tab.mid .license .title {
  width: 400px;
}
.slider .slider-inner .tab.mid .license .price {
  margin-top: 75px;
  font-weight: bold;
  font-size: 24px;
}
.slider .slider-inner .tab.mid .license .price span {
  color: #00d0cd;
  font-weight: normal;
}
.slider .slider-inner .tab.mid .license .divider {
  width: 400px;
  margin-top: 25px;
}
.slider .slider-inner .tab.mid .license .description {
  margin-top: 15px;
  font-size: 12px;
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;
}
.slider .slider-inner .tab.mid .license button {
  margin-top: 100px;
  margin-bottom: 50px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.61%, rgba(255, 255, 255, 0.54) 100%);
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 5px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.slider .slider-inner .tab.mid .license button:hover {
  background: linear-gradient(180deg, rgba(0, 208, 205, 0) 20.61%, rgba(138, 255, 253, 0.56) 100%);
}
.slider .slider-inner .tab.mid .test-popup {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 25px;
  width: 400px;
  height: 250px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.slider .slider-inner .tab.mid .test-popup .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.slider .slider-inner .tab.mid .test-popup.theoratical {
  left: -1000px;
}
.slider .slider-inner .tab.mid .test-popup.theoratical.active {
  left: 0 !important;
}
.slider .slider-inner .tab.mid .test-popup.practical {
  right: -1000px;
}
.slider .slider-inner .tab.mid .test-popup.practical.active {
  right: 0 !important;
}
.slider .slider-inner .tab.mid .test-popup button {
  width: 90%;
  font-size: 32px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.61%, rgba(255, 255, 255, 0.54) 100%);
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 5px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.slider .slider-inner .tab.mid .test-popup button:hover {
  background: linear-gradient(180deg, rgba(0, 208, 205, 0) 20.61%, rgba(138, 255, 253, 0.56) 100%);
}
.slider .slider-inner .tab.mid .test-popup .bottom {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.slider .slider-inner .tab.mid .test-popup .bottom .price {
  font-weight: bold;
  font-size: 18px;
}
.slider .slider-inner .tab.mid .test-popup .bottom .price span {
  color: #00d0cd;
  font-weight: normal;
}
.slider .slider-inner .tab.mid .test-popup .bottom .yes {
  display: none;
}
.slider .slider-inner .tab.mid .test-popup .bottom.active .yes {
  display: block;
}
.slider .slider-inner .tab.mid .test-popup .bottom.active .no {
  display: none;
}
.slider .slider-inner .tab.mid .exam-popup {
  position: absolute;
  bottom: -1000px;
  width: 500px;
  height: 120px;
}
.slider .slider-inner .tab.mid .exam-popup.theoratical {
  left: 25px;
}
.slider .slider-inner .tab.mid .exam-popup.practical {
  right: 25px;
}
.slider .slider-inner .tab.mid .exam-popup.active {
  bottom: 0 !important;
}
.slider .slider-inner .tab.mid .exam-popup .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.slider .slider-inner .tab.mid .exam-popup .description,
.slider .slider-inner .tab.mid .exam-popup .description-2 {
  text-align: center;
}
.slider .slider-inner .tab.mid .exam-popup .description span {
  color: #0085ff;
}
.slider .slider-inner .tab.mid .exam-popup .description-2 {
  font-weight: bold;
}
.slider .slider-inner .tab.mid .exam-popup .buttons {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 25px);
  display: flex;
  justify-content: space-between;
  z-index: 5;
}
.slider .slider-inner .tab.mid .exam-popup .buttons .button {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
.slider .slider-inner .tab.top {
  left: 0;
  top: -100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.slider .slider-inner .tab.top .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.slider .slider-inner .tab.top .header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}
.slider .slider-inner .tab.top .header .right h1 span {
  color: #00d0cd;
}
.slider .slider-inner .tab.top .header .divider {
  width: 250px;
}
.slider .slider-inner .tab.top .header img {
  width: 50px;
}
.slider .slider-inner .tab.top > .question {
  margin-top: 100px;
  position: relative;
  padding: 25px;
  width: 70%;
}
.slider .slider-inner .tab.top > .question .title {
  font-size: 20px;
  font-weight: bold;
}
.slider .slider-inner .tab.top > .question .title span {
  font-size: 32px;
}
.slider .slider-inner .tab.top > .question .divider {
  position: relative;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 125px;
}
.slider .slider-inner .tab.top > .question .divider::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.slider .slider-inner .tab.top > .question .divider::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.slider .slider-inner .tab.top > .question .description {
  margin-top: 15px;
  text-align: center;
}
.slider .slider-inner .tab.top > .question img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.slider .slider-inner .tab.top .choices {
  width: 600px;
  position: relative;
  padding: 25px;
  margin-top: 50px;
}
.slider .slider-inner .tab.top .choices .bgg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.slider .slider-inner .tab.top .choices .choice {
  background: linear-gradient(180deg, rgba(0, 208, 205, 0) 20.61%, rgba(138, 255, 253, 0.56) 100%);
  border: 1px solid #00a3ff;
  border-radius: 13px;
  font-weight: bold;
  font-size: 24px;
  padding: 5px;
  width: 200px;
  text-align: center;
  cursor: pointer;
  width: 95%;
  margin-top: 10px;
}
.slider .slider-inner .tab.top .choices .choice:hover {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.61%, rgba(255, 255, 255, 0.54) 100%);
  border-color: #ffffff;
}
.slider .slider-inner .tab.top .choices .bottom {
  position: relative;
  margin-top: 15px;
  height: 150px;
}
.slider .slider-inner .tab.top .choices .bottom img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.slider .slider-inner .tab.top .choices .bottom .timer {
  position: absolute;
  right: 15px;
  top: 15px;
  background: linear-gradient(180deg, rgba(15, 15, 15, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  mix-blend-mode: normal;
  border: 1.5px solid #ffffff;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
}
.slider .slider-inner .tab.top .choices .bottom .questions {
  position: absolute;
  bottom: 25px;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% - 30px);
  justify-content: space-between;
}
.slider .slider-inner .tab.top .choices .bottom .questions .question {
  background: linear-gradient(180deg, rgba(15, 15, 15, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  mix-blend-mode: normal;
  border: 1.5px solid #ffffff;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  padding: 5px;
  font-weight: bold;
  padding-left: 25px;
  padding-right: 25px;
}
.slider .slider-inner .tab.top .choices .bottom .questions .question.correct {
  background: linear-gradient(180deg, #00b507 0%, rgba(0, 54, 2, 0.3) 100%);
}
.slider .slider-inner .tab.top .choices .bottom .questions .question.false {
  background: linear-gradient(180deg, #ff0000 0%, rgba(83, 0, 0, 0.3) 100%);
}
.slider .slider-inner .tab.bottom {
  left: 0;
  top: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.slider .slider-inner .tab.bottom .header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-top: 15px;
  gap: 10px;
}
.slider .slider-inner .tab.bottom .header .bgg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.slider .slider-inner .tab.bottom .header .left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.slider .slider-inner .tab.bottom .header .left img {
  width: 20px;
}
.slider .slider-inner .tab.bottom .header .left .title {
  font-weight: bold;
}
.slider .slider-inner .tab.bottom .header .left .divider {
  position: relative;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
}
.slider .slider-inner .tab.bottom .header .left .divider::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.slider .slider-inner .tab.bottom .header .left .divider::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.slider .slider-inner .tab.bottom .fails {
  position: absolute;
  bottom: 0;
  right: 50px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 50px;
  padding-bottom: 15px;
}
.slider .slider-inner .tab.bottom .fails .title {
  font-weight: bold;
  font-size: 24px;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
}
.slider .slider-inner .tab.bottom .fails .value {
  margin-top: 15px;
  background: linear-gradient(180deg, rgba(15, 15, 15, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
  mix-blend-mode: normal;
  border: 1.5px solid #ffffff;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
}
.slider .slider-inner .tab.bottom .fails .bgg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.slider .slider-inner .tab.left {
  left: -100%;
  top: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.slider .slider-inner .tab.left .header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}
.slider .slider-inner .tab.left .header .right h1 span {
  color: #00d0cd;
}
.slider .slider-inner .tab.left .header .divider {
  width: 250px;
}
.slider .slider-inner .tab.left .header img {
  width: 50px;
}
.slider .slider-inner .tab.left .container {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 80%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 75px;
}
.slider .slider-inner .tab.left .container .bgg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  width: 100%;
}
.slider .slider-inner .tab.left .container .result {
  position: relative;
}
.slider .slider-inner .tab.left .container .result img {
  width: 100%;
}
.slider .slider-inner .tab.left .container .result .main {
  position: absolute;
  bottom: 200px;
  display: flex;
  flex-flow: column;
  align-items: center;
  z-index: 2;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}
.slider .slider-inner .tab.left .container .result .main .title {
  font-size: 32px;
  font-weight: bold;
}
.slider .slider-inner .tab.left .container .result .main .divider {
  position: relative;
  height: 2px;
  background-color: #0085ff;
  width: 300px;
}
.slider .slider-inner .tab.left .container .result .main .divider::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #0085ff;
}
.slider .slider-inner .tab.left .container .result .main .divider::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #0085ff;
}
.slider .slider-inner .tab.left .container .result .main .description {
  margin-top: 15px;
}
.slider .slider-inner .tab.left .container .result .main .bggg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: calc(100% - 16px);
  height: 100%;
  z-index: -1;
}
.slider .slider-inner .tab.left .container .button {
  position: absolute;
  right: 15%;
  bottom: 40px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.61%, rgba(0, 102, 255, 0.54) 100%);
  border: 1px solid #00a3ff;
  border-radius: 13px;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  padding-left: 25px;
  padding-right: 25px;
}
.slider .slider-inner .tab.left .container .button:hover {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.61%, rgba(255, 255, 255, 0.54) 100%);
  border-color: #ffffff;
}
.slider .slider-inner .tab.right {
  left: 100%;
  top: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.slider .slider-inner .tab.right .header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}
.slider .slider-inner .tab.right .header .right h1 span {
  color: #00d0cd;
}
.slider .slider-inner .tab.right .header .divider {
  width: 250px;
}
.slider .slider-inner .tab.right .header img {
  width: 50px;
}
.slider .slider-inner .tab.right .container {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 80%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 75px;
}
.slider .slider-inner .tab.right .container .bgg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  width: 100%;
}
.slider .slider-inner .tab.right .container .result {
  position: relative;
}
.slider .slider-inner .tab.right .container .result img {
  width: 100%;
}
.slider .slider-inner .tab.right .container .result .main {
  position: absolute;
  bottom: 200px;
  display: flex;
  flex-flow: column;
  align-items: center;
  z-index: 2;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}
.slider .slider-inner .tab.right .container .result .main .title {
  font-size: 32px;
  font-weight: bold;
}
.slider .slider-inner .tab.right .container .result .main .divider {
  position: relative;
  height: 2px;
  background-color: #0085ff;
  width: 300px;
}
.slider .slider-inner .tab.right .container .result .main .divider::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #0085ff;
}
.slider .slider-inner .tab.right .container .result .main .divider::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #0085ff;
}
.slider .slider-inner .tab.right .container .result .main .description {
  margin-top: 15px;
}
.slider .slider-inner .tab.right .container .result .main .bggg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: calc(100% - 16px);
  height: 100%;
  z-index: -1;
}
.slider .slider-inner .tab.right .container .button {
  position: absolute;
  right: 15%;
  bottom: 40px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.61%, rgba(0, 102, 255, 0.54) 100%);
  border: 1px solid #00a3ff;
  border-radius: 13px;
  font-weight: bold;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  padding-left: 25px;
  padding-right: 25px;
}
.slider .slider-inner .tab.right .container .button:hover {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20.61%, rgba(255, 255, 255, 0.54) 100%);
  border-color: #ffffff;
}
.slider .slider-inner .tab .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
@media screen and (max-height: 800px) {
  .tab.top .question {
    margin-top: 0px !important;
  }
  .tab.top .choices {
    margin-top: 25px !important;
  }
  .tab.top .choices .choice {
    font-size: 16px !important;
  }
  .license .price {
    margin-top: 25px !important;
  }
  .license button {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }
}
@media screen and (max-width: 1600px) {
  .exam-popup {
    width: 400px !important;
  }
}
@media screen and (max-width: 1400px) {
  .test-popup {
    width: 300px !important;
  }
  .exam-popup {
    width: 300px !important;
  }
}
@media screen and (max-width: 1225px) {
  .license {
    width: 400px !important;
  }
  .license .title,
  .license .divider {
    width: 300px !important;
  }
}
@media screen and (max-width: 1100px) {
  .test-popup {
    width: 250px !important;
    height: 200px !important;
  }
  .test-popup button {
    font-size: 18px !important;
  }
  .test-popup .bottom img {
    width: 40px !important;
  }
  .exam-popup {
    width: 300px !important;
  }
  .exam-popup.theoratical {
    left: 0 !important;
  }
  .exam-popup.practical {
    right: 0 !important;
  }
}
@media screen and (max-width: 1000px) {
  .license {
    width: 300px !important;
  }
  .license .title,
  .license .divider {
    width: 200px !important;
  }
  .test-popup {
    width: 200px !important;
    height: 150px !important;
  }
  .test-popup button {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 1000px) {
  .exam-popup {
    width: 200px !important;
  }
}
