#displayTextContainer {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    flex-direction: column;
    width: 90%;
    max-width: 300px;
    padding: 20px;
    background-color: rgba(5, 5, 5, 0.25);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}